%title {
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
  font-family: $title-font;
}

%heading {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
  font-family: $heading-font;
  display: block;
}
