$title-font: "Kaushan Script",
sans-serif;
$heading-font: "Montserrat",
sans-serif;
$desc-font: "Roboto",
sans-serif;

$prime-text-color: #ffff;
$secondory-text-color: #333333;
$desc-color: #999999;

$secondory-hover-color: #f38181;
$hover-color: #fce38a;

$secondory-bg-color: #95e1d3;
